body{
    background-color: antiquewhite;
}
.T1{
    color:blue;
    font-family: Arial;
    text-align: center;
}
.ima1{
    text-align: center;
}
.p1{
    color:blueviolet;
    font-family: Arial;
    font-size: 20px;
}